@{
    ViewBag.Title = "Home Page";
}



<div class="form-group">
    <label for="email">Email address:</label>
    <input type="text" class="form-control" id="txtEmail">
</div>
<div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="txtPassWord">
</div>

<button type="button" class="btn btn-success" id="btnSubmit">Thêm mới</button>


<div class="jumbotron" style="margin-top:10px;">

</div>

@*@Html.Action("CommonPartialView","Home")
@Html.Partial("~/Views/Home/RenderPartialView.cshtml")*@

<div id="noidung"></div>
<script>
    $(document).ready(function () {
        LoadAccountPartialView();

        $("#btnSubmit").click(function () {
            debugger;

            var email = $("#txtEmail").val();
            var password = $("#txtPassWord").val();
            var data = {
                email: email,
                password: password
            };

            $.ajax({
                url: '/Home/AccountInsert',
                type: 'POST',
                dataType: 'json',
                data: data
            }).done(function (ketqua) {
                alert(ketqua.Description);
                LoadAccountPartialView();
            });
        });

    });

    function LoadAccountPartialView() {

        $.ajax({
            url: '/Home/ListDataPartialView',
            type: 'POST',
            dataType: 'html',
            data: {}
        }).done(function (result) {
            $("#noidung").html("");
            $("#noidung").html(result);
        });
    }

</script>